# Meilisearch Host URL
SEARCH_HOST=

# Meilisearch API Key
SEARCH_KEY=

# Meilisearch Docs Index
INDEX_NAME=

# Meilisearch local search URL (if needed)
SEARCH_LOCAL=

# Docs repository URL
REPO_URL="https://gitlab.com/zenphp/demo-docs.git"

# Doc branches to pull from git repo
DOC_VERSIONS=["2.0","1.0"]
